      <form method="GET" action="">
        <p><input type="text" id="username" value="" placeholder="Username or Email"></p>
        <p><input type="password" id="password" value="" placeholder="Password"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" id="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit"><input type="submit" id="login" value="Login" onClick=ajaxpost()></p>
      </form>